path {
	fill: none;
}

.vessels .axis--x path {
    display: none;
}

.vessels .line {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.regions .axis--x path {
    display: none;
}

.regions .line {
    stroke: steelblue;
    stroke-width: 1.5px;
}
