path {
	fill: none;
}

svg {
    margin-bottom: 4ex !important;
}

.vessels .axis--x path {
    display: none;
}

.vessels .line {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.regions .axis--x path {
    display: none;
}

.regions .line {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bar {
    fill: thistle;
}

.center-text {
    text-align: center;
}

.center-graph {
    display: block;
    margin: auto;
}
